- name: git client exists
  package:
    name: git
    state: present
- name: Go packages are installed
  command: go get {{ item }} creates={{ golang_gopath }}/src/{{ item }}
  environment: "{{ golang_fact_env }}"
  loop: "{{ golang_packages }}"
